.App {
    max-width: 980px;
    margin: 30px auto;
}

.form-wrapper {
    max-width: 480px;
    margin: 200px auto 0 auto;
}

.demo-msg {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    animation: showDemoMsg 0.8s forwards;
    bottom: 50px;
}

.phonebook {
    overflow-y: hidden;
}

.phonebook__content {
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal-background {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

@keyframes showDemoMsg {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}